body{
    background-color:antiquewhite;
}



form{
     margin-left:25%;
     margin-top: 5%;
     margin-bottom: 5%;
     width:50%
}


fieldset{
    background-color: lightgray;
}





#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
