body{
   background-color:antiquewhite;
}


#image img{
    margin-left:  -50px;
} 





#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
